# Pandas is a Python library providing high-performance, easy-to-use data structures and data analysis tools. The two primary data structures in pandas are the Series and the DataFrame.
#Pandas Series:
A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floats, Python objects, etc.).
It can be thought of as a single column of data in a spreadsheet or a database table.
Each element in a Series has an associated index, providing a label for that data point. If not explicitly defined, a default integer index (0, 1, 2, ...) is assigned. 

# Pandas DataFrame:
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.
It can be thought of as a table or spreadsheet, similar to a SQL table or an Excel sheet, with rows and columns.
Each column in a DataFrame is essentially a Series, sharing the same index for its rows.
DataFrames have both a row index (like a Series) and column labels.

In [ ]:
import pandas as pd

# Creating a Series from a list
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

In [ ]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
# Fetch the first five rows.
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
df.describe()
df.dtypes

In [ ]:
# Handling missing values
df.isnull()
df.isnull().sum()

In [ ]:
# Data Aggregatign and grouping.
df.head(10)

In [ ]:
grouped_mean = df.groupby('salary')['age'].mean()
print(grouped_mean)

In [ ]:
grouped_sum = df.groupby('salary')['age'].sum()
print(grouped_sum)